page-about {
  .title-about
  {
    font-weight: 500;
    font-size: 17px;
  }
  .info
  {
    padding: 13px 13px 13px 0;
    margin-left: 16px;
    border-bottom: 1px solid #dedede;
  }
  .content-about
  {
    font-size: 15px;
    font-style: italic;
    line-height: 120%;
    color: gray;
    margin-top: 8px;
  }
}
