page-login {

}
.flex
{
    display: flex;
}
.or_field
{
    
    height: 40px;
}
.line
{
    flex: 1;
    margin-top: 19px;
    background-color: #c8c7cc;
    height: 1px;
    margin-bottom: 19px;
}
.or
{
    color: #c8c7cc;
    line-height:40px;
    text-align: center;
    width: 50px;
}
.buttons 
{
    width:150px;
    flex:1;
}

.size 
{
    margin-left: 30%;
    margin-top: 15%;
    max-width: 40%;
    max-height: 40%;
    align-content: center;
    
}
.sup
{
    color: #c8c7cc;
    line-height:40px;
    text-align: center;
    
}