page-login {

}
.flex
{
    display: flex;
}
.or_field
{
    
    height: 40px;
}
.line
{
    flex: 1;
    margin-top: 19px;
    background-color: grey;
    height: 1px;
    margin-bottom: 19px;
}
.or
{
    line-height:40px;
    text-align: center;
    width: 50px;
}
.buttons 
{
    width:150px;
    flex:1;
}

.username-top
{
    border-top:0px;
}