page-bill {

}
.row
{
    text-align: center;
    
}
.inline
{
    display: inline;

}
.left
{
    float: left;
}
.right
{
    float: right;
}
.ic
{
    width: 50px;
    height: 50px;
}
.clear
{
    display: clear;
}