page-frg-password {
  p {
    color: red;
    font-size: 16px;
    margin: 10px 0 -5px 16px;
    transition: opacity 2s ease-in;
  }
  .list .item-input:last-child {
    border-bottom: none;
  }
  .list-md .item-input.item-input-has-focus:last-child,
  .list-md .item-input.input-has-focus:last-child {
    border-bottom-color: none;
    box-shadow: none;
  }
}
.reset_pass_button
{
  margin: 32px 0;
}
.list-ios > .item-block:first-child
{
    border-top: none;
}
