img
{
	height: 100px;
	width: auto;
}
p.first_text /* class */
{
	font-family: Calibri;
	font-size: 100px;
}
#other_text /* id */
{
	font-family: Arial;
	font-size: 50px;
	color: #a57b00;
}
.firstdiv
{
	background-color: blue;
}
/*#divvv:hover
{
	background-color: blue;
}*/