page-share-modal {
  img{
    width: 300px;
    height: auto;
  }
  .ion-page{
    border-radius: 50px;
  }

  .content{
    border-radius: 4px;
  }
}
ion-modal {
  padding: 150px 40px 150px 40px;
  background: rgba(0,0,0,0.4);
  overflow-y: hidden;
}
