page-edit {

}
.edit_bla
{
    .item-input .label, .item-select .label, .item-datetime .label {
        color: black;
        font-size: 2.5vh;
    }
    .email_size
    {
        font-size: 2.5vh;
    }
    padding-bottom: 0px;
}
.change_bttn
{
    margin: 0 10px;
    width: calc(100% - 20px);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); 
}
.save_bttn
{
    margin: 4% auto 0 auto;
    display: block;  
    width: 40%;
}
