page-bills {

}
ion-navbar
{
  height: 8vh;
}
.billit_image
{
  height: 7vh;
  width: auto;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
}
.padd
{
  padding: 0 3vw;
}
.inline
{
    display: inline;
}
.left
{
    float: left;
}
.right
{
    float: right;
}
.clear
{
   clear: left;
   clear: right;
}
.fab
{
<<<<<<< HEAD
  background-color:red;
  
}
.ios .iosplatform
{
display: none;
}
=======
  background-color:transparent;

}
>>>>>>> 56b135038584559a4478eab1fdcf292d86212b94
