<!--
  Generated template for the BillsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header (click)="closeFabIfActive()">


  <ion-navbar *ngIf="!searchBarOpened">
    <ion-buttons left class="padd">
      <button  ion-button icon-only (click)="openSearchBar()" class="share_button" >
        <ion-icon  name="search"></ion-icon>
      </button>
    </ion-buttons>
    <img src="assets/Images/logo.png" class="billit_image">

    <ion-buttons right class="padd">
      <button ion-button icon-only (click)="presentPopoverSort($event)">
        <ion-icon ios="ios-funnel-outline" name="funnel"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right class="padd" right *ngIf="platform.is('ios')">
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
  <ion-searchbar *ngIf="searchBarOpened" showCancelButton #searchBar (ionCancel)="canceledSearch()">></ion-searchbar>

</ion-header>


<ion-content padding class="backgroundIMG">

  <div *ngFor="let bill of billsToShow; let i = index">

    <div class="interval" *ngIf="intervalToShow[i] != null && !searchBarOpened">
      {{intervalToShow[i]}}
    </div>

    <ion-card *ngIf="!searchBarOpened">
      <ion-card-content>
        <ion-list>
          <ion-item-sliding #slidingItem>

            <ion-item class="itemlist" (click)="goToBillPage(bill)" (touchend)="closeSlideIfOpen(slidingItem)">
              <div>
                <div class="inline ">
                  <div class="inline left topp bott">
                    <ion-icon style="margin-right:2px;" name="calendar" isActive="false"></ion-icon>
                    {{bill.date}}
                  </div>
                  <div class="inline right topp bott">
                    <ion-icon style="margin-right:2px;" class="margin-left" name="time" isActive="false"></ion-icon>
                    {{bill.time}}
                  </div>
                </div>
              </div>
              <div class="clear">
                <div class=" inline left topp bott">
                  <ion-icon style="margin-right:2px;" name="cart" isActive="false"></ion-icon>
                  {{bill.storeName}}
                </div>
                <div class="inline right topp bott  ">
                  {{bill.totalAmount}} RON
                </div>
              </div>
            </ion-item>

            <ion-item-options side="right" class="favourite">

              <button *ngIf="!bill.favourite"  ion-button color="light" (click)="addToFavourite(bill, slidingItem)">
                <ion-icon name="star-outline"></ion-icon>
                Favourite
              </button>
              <button *ngIf="bill.favourite" ion-button color="fav-yellow" (click)="removeFromFavourite(bill, slidingItem)">
                <ion-icon name="star-outline"></ion-icon>
                Favourite
              </button>
            </ion-item-options>

            <ion-item-options side="left">
              <button class="delete" ion-button color="danger" (click)="showAlert(bill.$key)">
                <ion-icon name="trash"></ion-icon>
                Delete
              </button>
            </ion-item-options>


          </ion-item-sliding>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>


  <ion-fab id="fabId" right bottom *ngIf="!platform.is('ios')" #fab>
    <button (click)="clickedFab(fab)" ion-fab mini class="fab" color='primary'>
      <ion-icon name="add" class="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab color="primary"(click)="scanCode()"><ion-icon name="qr-scanner"></ion-icon></button>
      <button ion-fab color="primary"(click)="goToAddBillPage();"><ion-icon name="create" ></ion-icon></button>
      <button ion-fab  color="primary"(click)="closeFab(fab)"><ion-icon  name="camera"></ion-icon></button>

    </ion-fab-list>
  </ion-fab>


</ion-content>
