page-bills {

  ion-navbar
  {
    height: 8vh;
  }
  .topp
  {
    margin-top: 4px;
  }
  .bott
  {
    margin-bottom: 4px;
  }
  .fab
  {
    background-color:primary;
  }
  ion-fab
  {
    ion-icon
    {
      color:white;
    }
  }
  .margin-left
  {
    margin-left:7px;
  }
  .label
  {
    margin: 0;
  }
  .item.item-block .item-inner {
    padding: 0;
    border-bottom: none;
  }
  .card-content
  {
    padding: 0;
  }
  .item.itemlist
  {
    padding: 10px 16px 7px 16px;
    background-color: white;
  }
  .interval
  {
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    //margin: 15px 0 10px 20px;
    color: #424242;
  }
  .linee
  {
    font-size: 18px;
    font-weight: 300;
    display: inline;
  }
  .fav
  {
    ion-icon
    {
      color: white;
    }
  }
}
.billit_image
{
  height: 48px;
  width: auto;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
}
.padd
{
  padding: 0 3vw;
}
.inline
{
    display: inline;
}
.left
{
    float: left;
}
.right
{
    float: right;
}
.clear
{
   clear: left;
   clear: right;
}
