<!--
  Generated template for the BillsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left class="padd">
      <button ion-button icon-only (click)="openModal()" class="share_button" >
        <ion-icon  name="search"></ion-icon>
      </button>
    </ion-buttons>  
    <img src="/assets/Images/logo.png" class="billit_image">


    
      
    
  </ion-navbar>
</ion-header>


<ion-content padding class="backgroundIMG">

  <ion-card>
    <ion-card-content>
      <div>
        <div class="inline left">
          <div class="inline">
            <ion-icon name="calendar" isActive="false"></ion-icon> 28.06.2017 </div>
          <div class="inline">
            <ion-icon name="time" isActive="false"></ion-icon> 14:21</div>
        </div>
        <div class="inline right">45,44</div>
      </div>
      <div class="clear">Carrefour</div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div>
        <div class="inline left">
          <div class="inline">
            <ion-icon name="calendar" isActive="false"></ion-icon> 28.06.2017 </div>
          <div class="inline">
            <ion-icon name="time" isActive="false"></ion-icon> 14:21</div>
        </div>
        <div class="inline right">45,44</div>
      </div>
      <div class="clear">Carrefour</div>
    </ion-card-content>
  </ion-card>

  <button ion-button color="danger" outline round (click)="goToBillPage()">The bill</button>
<button ion-button color="danger" outline round (click)="goToLoginPage()">logout</button>


  <ion-fab  right bottom *ngIf="!platform.is('ios')">
    <button ion-fab mini class="fab" ><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab ><ion-icon  name="cloud-download"></ion-icon></button>
      <button ion-fab ><ion-icon name="create"></ion-icon></button>
      <button ion-fab ><ion-icon  name="camera"></ion-icon></button>
      
    </ion-fab-list>
  </ion-fab>

  <ion-fab  top right *ngIf="platform.is('ios')">
    <button ion-fab mini class="fab" ><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="bottom">
      <button ion-fab ><ion-icon  name="cloud-download"></ion-icon></button>
      <button ion-fab ><ion-icon  name="create"></ion-icon></button>
      <button ion-fab ><ion-icon  name="camera"></ion-icon></button>    
    </ion-fab-list>
  </ion-fab>
</ion-content>
