page-stats {

}
.center
{
    text-align: center;
}
.left
{
    text-align:left;
    flex: 1;
}
.right
{
    text-align: right;
    flex: 1;
}
.display
{
    display: flex;
}
.header
{
    font-size: 20px;
}
