<!--
  Generated template for the CategoriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CategoriesPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="backgroundIMG">

    <div *ngFor="let category of categoriesToShow; let i = index">
      <ion-card class="category-card animate-fade-in animate-fade-out" (click)="expandCategory(i)">
        {{category.name}}
        <div *ngIf="category.clicked">

          <div  *ngFor="let product of category.products; let i = index">
            {{product.name}}

            {{product.pricePerUnit}}
          </div> <!-- ngFor -->
        </div> <!-- ngIf -->
      </ion-card>
    </div>

</ion-content>
