page-my-account {
  .label[stacked]
  {
    font-size: 2vh;
    color: #8e8e8e;
  }
  .nomargin{
    margin: 5px 8px 13px 0;
  }
  .item
  {
    padding: 0 16px;
  }

}
.sizenew
{
    margin: 8% auto;
    display: block;
    width: 42%;
    height: auto;
    align-content: center;
}
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block > .item-block
{
  border-bottom: none;
}
.logout_button
{
  margin: -25px auto 0 auto;
  display: block;
  width: 40%;
}
